
<table class="table">
  <thead>
    <div class="d-flex justify-content-center">
    <a href="/admin/add-product" class="btn btn-warning p-3 mt-3 "><b> add product</b></a>
    </div>
    <tr>
      <th scope="col">index</th>
      <th scope="col">Name</th>
      <th scope="col">Catagory</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     {{#each product}}
      <th scope="row">{{@index}}</th>
      <td>{{this.Name}}</td>
      <td>{{this.Catagory}}</td>
      <td>{{this.Description}}</td>
      <td>{{this.Price}}</td>
      <td><img src="images/{{this.fileName}}" alt="" style="width: 50px; height:50px;"></td>
      <td><a href="/admin/delete/{{this._id}}" class="btn "><i class="fa fa-trash-o" style="font-size:30px ;color:red"></i></a>
      <a href="/admin/edit-product/{{this._id}}" class="btn " style="position:fixed"><i class="fa fa-edit" style="font-size:30px"></i></a>
    </td>
    </tr>
   {{/each}}
  </tbody>
</table>